:root {
  /*--header-image: url('../images/wp.jpeg');*/
  --body-bg-image: url('../images/poolside-fm-lost-in-tripoli-sail.gif');
  --cursor-image: url('../images/cursor.gif');
  /*--bar-image: url('../images/bar.png');*/
  --bullet-image: url('../images/bullet.gif');

  --color-dark-red: #B5575B;
  --color-mustard-yellow: #AAB1B2;
  --color-black: #442122;
  --color-white: #F2E4CD;
  --color-dark-gray: #3F3943;

  --body-bg: var(--color-black);
  --header-bg: var(--color-dark-gray);
  --box-bg: var(--color-white);

  --content: var(--color-dark-gray);
  --text-color: var(--color-white);
  --link-color: var(--color-dark-red);
  --sidebar-bg: var(--color-dark-gray);
  --footer-bg: var(--color-dark-gray);
  --border-color: var(--color-mustard-yellow);

  --big-text-color: var(--color-mustard-yellow);
  --box-text-color: var(--color-dark-gray);
  --highlight-color: var(--color-dark-red);
}

::selection {
  color: var(--color-white);
  background-color: var(--highlight-color);
}

@font-face {
  font-family: HeaderFont;
  src: url('../fonts/Vollkorn-Regular.ttf') format('truetype');
}

@font-face {
  font-family: SubHeaderFont;
  src: url('../fonts/AlegreyaSC-Regular.ttf') format('truetype');
}

@font-face {
  font-family: BodyFont;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'BodyFont', sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  background-image: var(--body-bg-image);
  background-attachment: fixed;
  cursor: var(--cursor-image), auto;
}

ul {
  list-style-image: var(--bullet-image);
}

/* below this line is CSS for the layout */

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  margin: 1em auto 0;
  padding-bottom: 1em;
  box-sizing: border-box;
}

.header {
  background: #333;
  color: white;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.5);

  background-color: var(--header-bg);
  background-image: var(--header-image);
  border: 1px solid var(--border-color);
}

.container {
  flex: 1;
  display: flex;
  gap: 1em;
  margin-bottom: 1em;

  a {
    color: var(--link-color);
    font-weight: bold;
  }
}

aside {
  padding: 1em;
  width: 240px;

  background-color: var(--sidebar-bg);
  background-image: var(--bar-image);
  background-repeat: repeat-x;
  font-size: smaller;
  border: 1px solid var(--border-color);
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
}

main {
  padding: 1em;
  flex: 1;

  background-color: var(--content);
  background-image: var(--bar-image);
  background-repeat: repeat-x;
  order: 2;
  border: 1px solid var(--border-color);
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
}

.sidebar {
  order: 1;
}

footer {
  font-family: 'HeaderFont', sans-serif;

  background: #333;
  color: white;
  padding: 1em;
  text-align: center;

  background-color: var(--footer-bg);
  border: 1px solid var(--border-color);
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
}

h1 {
  color: var(--big-text-color);
  font-family: 'HeaderFont', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--big-text-color);
  font-family: 'SubHeaderFont', sans-serif;
}

h1 {
  font-size: 55px;
}

strong {
  /* this styles bold text */
  color: var(--big-text-color);
}

/* this is just a cool box, it's the darker colored one */
.box {
  color: var(--box-text-color);
  background-color: var(--box-bg);
  border: 1px solid var(--border-color);
  padding: 10px;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
}

/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page?
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the
"max-width" value below
*/

@media only screen and (max-width: 800px) {
  #flex {
    flex-wrap: wrap;
  }

  aside {
    width: 100%;
  }

  /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
  main {
    order: 1;
  }

  .sidebar {
    order: 2;
  }
}
