:root {
  /*--header-image: url('../images/wp.jpeg');*/
  --body-bg-image: url('../images/poolside-fm-lost-in-tripoli-sail.gif');
  --cursor-image: url('../images/kitty-hand-cursor.png');
  /*--bar-image: url('../images/bar.png');*/
  --bullet-image: url('../images/bullet.gif');

  --color-dark-red: #B5575B;
  --color-darker-red: #984A4D;
  --color-mustard-yellow: #AAB1B2;
  --color-black: #442122;
  --color-white: #F2E4CD;
  --color-dark-gray: #3F3943;

  --body-bg: var(--color-white);
  --header-bg: var(--color-dark-gray);
  --box-bg: var(--color-white);

  --content: var(--color-dark-gray);
  --text-color: var(--color-white);
  --link-color: var(--color-dark-red);
  --visited-link-color: var(--color-darker-red);
  --sidebar-bg: var(--color-dark-gray);
  --footer-bg: var(--color-dark-gray);
  --border-color: var(--color-mustard-yellow);

  --big-text-color: var(--color-mustard-yellow);
  --box-text-color: var(--color-dark-gray);
  --highlight-color: var(--color-dark-red);
}

::selection {
  color: var(--color-white);
  background-color: var(--highlight-color);
}

html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  background-image: var(--body-bg-image);
  background-attachment: fixed;

  a {
    cursor: var(--cursor-image), auto;
    color: var(--link-color);
  }
}

ul {
  margin-left: -1.5em;

  li::marker {
    font-size: 1.1rem;
  }
}

/* below this line is CSS for the layout */

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  margin: 1em auto 0;
  padding-bottom: 1em;
  box-sizing: border-box;
}

.header {
  background: #333;
  color: white;
  text-align: center;
  margin-bottom: 1em;

  background-color: var(--header-bg);
  background-image: var(--header-image);
}

.container {
  flex: 1;
  display: flex;
  gap: 1em;
  margin-bottom: 1em;

  a {
    &:visited {
      color: var(--visited-link-color);
    }
    font-weight: bold;
  }
}

.header, aside, main, footer {
  border: 1px solid var(--border-color);
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
  padding: 1em;
}

aside {
  order: 1;
  min-width: 240px;
  width: 240px;

  background-color: var(--sidebar-bg);
  font-size: smaller;
}

main {
  flex: 1;

  background-color: var(--content);
  order: 2;
  width: 0;
}

footer {
  font-family: sans-serif;

  background: #333;
  color: white;
  text-align: center;

  background-color: var(--footer-bg);
}

h1 {
  font-size: 55px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--big-text-color);
  font-family: sans-serif;
}

strong {
  color: var(--big-text-color);
}

pre {
  overflow-x: auto;
  margin: 0;
}

code {
  font-family: monospace;
  font-size: 1.25em;
  line-height: 1.0;

  counter-reset: step;
  counter-increment: step 0;
}

code:not(pre code) {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.0rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4);
}

video, .video {
  max-width: 100%;
  max-height: 315px;
}

.aspect-ratio-4x3 {
  width:100%;
  max-width: calc(315px * (4 / 3));
  aspect-ratio: 4 / 3;
  object-fit: contain;
}

/* this is just a cool box, it's the darker colored one */
.box {
  color: var(--box-text-color);
  background-color: var(--box-bg);
  border: 1px solid var(--border-color);
  padding: 10px;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1.5em;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.25em 0.75em;
  text-align: left;
}

/* th {
  background-color: #f5f5f5;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
} */

/* BELOW THIS POINT IS MEDIA QUERY */

@media only screen and (max-width: 800px) {
  #flex {
    flex-wrap: wrap;
  }

  h1 {
    font-size: 44px;
  }

  main {
    order: 1;
    margin-bottom: 1em;
    width: auto;
  }

  aside {
    order: 2;
    width: auto;
  }

  .header {
    padding: 0;
    margin-bottom: 1em;
  }

  .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .container {
    flex-direction: column;
    margin: 0 0 1em 0;
    gap: 0;
  }

  .header, aside, main, .footer {
    box-shadow: none;
  }
}
